<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>remsgems</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style>
        body {
            background-color: rgb(203, 230, 229);
        }
    </style>
</head>

<body>

    <%- include('partials/navbar') %>
        <div class="container-fluid">
            <h2>Account Details</h2>

            <div>
                <span>Username: </span>
                <span>
                    <%= user.username %>
                </span>
            </div>
            <div>
                <span>Email: </span>
                <span>
                    <%= user.email %>
                </span>
            </div>
            <div>
                <span>Address: </span>
                <span>
                    <%= user.address %>
                </span>
            </div>
            <div>
                <span>Password: </span>
                <span>
                    <%= user.password %>
                </span>
            </div>


            <h2>Reset Password</h2>
            <form id="passForm" style="width: 300px;" action="/account/reset-password" method="post">
                <input class="input-field" placeholder="Enter New Password" type="passwod" name="password" required>
                <input class="input-field" placeholder="Confirm Password" type="passwod" name="confirm_password"
                    required>
                <button class="btn btn-primary" type="submit">Chage Password</button>
            </form>
        </div>

        <script>
            let passForm = document.querySelector('#passForm')
            let username = "<%= user.username %>"

            passForm.addEventListener("submit", (e) => {
                e.preventDefault()

                let password = passForm.password.value
                let confirm_password = passForm.confirm_password.value
                if (password != confirm_password) {
                    alert("Passwords do not match")
                    return
                }

                fetch(`/account/reset-password/${username}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        password: password
                    })
                }).then(res => res.json())
                    .then(data => {
                        if (data.success) {
                            alert("Password changed successfully")
                            window.location.href = "/account"
                        } else {
                            alert(data.message)
                        }
                    })
            })
        </script>

        <%- include('partials/footer') %>

</body>

</html>